permissions:
  contents: write

name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: [en, it, fr]
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - name: Compile LaTeX document (${{ matrix.language }})
        uses: xu-cheng/latex-action@v3
        with:
          root_file: resume.tex
          args: -pdf -lualatex -interaction=nonstopmode -jobname=resume-${{ matrix.language }}
      - name: Only upload artifact if there is no tag
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        uses: actions/upload-artifact@v4
        with:
          name: resume-${{ matrix.language }}
          path: resume-${{ matrix.language }}.pdf
      - name: Upload a release if there is a tag
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: resume-${{ matrix.language }}.pdf