permissions:
  contents: write

name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
      - name: Compile English version
        uses: xu-cheng/latex-action@v4
        with:
          root_file: resume.tex
          args: -pdf -lualatex -interaction=nonstopmode -jobname=resume-en
      - name: Compile Italian version
        uses: xu-cheng/latex-action@v4
        with:
          root_file: resume.tex
          args: -pdf -lualatex -interaction=nonstopmode -jobname=resume-it
      - name: Compile French version
        uses: xu-cheng/latex-action@v4
        with:
          root_file: resume.tex
          args: -pdf -lualatex -interaction=nonstopmode -jobname=resume-fr
      - name: Only upload artifacts if there is no tag
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        uses: actions/upload-artifact@v6
        with:
          name: resume
          path: resume-*.pdf
      - name: Upload all PDFs to release if there is a tag
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: resume-*.pdf